---
# base layout for other item display_template layouts
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: true
---
<div class="container-fluid mx-0 px-0 my-4">

    <!-- {% include item/breadcrumbs.html %} 
    <div class="my-0 h5 small">{{ page.display_template | replace: "_", " " | upcase }} {% if page.display_template == "compound_object" or page.display_template == "multiple" %}{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %} ({{ children | size }} {{ site.data.translations['_layouts']['item']['item-page-base.html']['items'][site.lang] | default: 'Items'}}){% endif %}</div> -->

    <div class="row-wrap container-fluid mx-0 px-0 margin-fix">

        <div class="row top-section">

        <!-- keywords.  -->
            <div class="col-md-3 order-md-first order-last" >
                {%if page.keywords_list%}
                
                {%- assign items = page.keywords_list | split: ";" -%}
                 
                    {%for keyword in items %}
                        <a class="keyword-tab active-green" href="/keywords.html#y{{keyword | slugify}}"><p>{{ keyword | trim }}</p></a>
                    {%endfor%}
                {%endif%}
               
            </div>
                
        <!-- header info.  -->
            <div class="col-md-9 order-md-last order-first mb-4 mb-md-2 sm-margin-fix-left">
                <h2>{{ page.title }} </h2>
                <h3 class="notheader">{{page.creators_list}}</h3>

        <!-- helper buttons.  -->
            <div class="btn-float-rt btn-group mx-3">
                <a type="button" class="btn btn-sm btn-outline-dark small" data-bs-toggle="modal" data-bs-target="#{{ include.button | slugify }}Modal">cite this object</a>
            <!-- Modal -->
                <div class="modal fade" id="{{ include.button | slugify }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ include.button | slugify }}ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body small" >
                            <p id="citationtocopy">{{page.citation}}</p>
                        </div>
                    </div>
                </div>
                </div>
                    <a href="#object" class="btn btn-sm btn-outline-dark small">{{ site.data.translations['_layouts']['item']['item-page-base.html']['item-info'][site.lang] | default: 'jump to object'}} 
                        </a>
                </div>
            </div>      <!-- end of this "right" column.  -->
        </div>          <!-- end of first row.  -->

        <!-- second row. -->
        <div class="row">

        <!-- spacer column under keywords. -->
            <div class="col-md-3">
            </div>

            <!-- thumb image and tags. -->
                <div class="col-md-3" id="col-reorder-5">
                    <div class="main-img-container">
                        <img  alt="{{ page.image_alt_text | default: image_caption | escape }}"   src="{{ page.image_thumb }}" >
                    </div>
                    
                    <ul class="theme-tabs">
                        <li class="primary-green">
                            <a href="/browse.html#media_type:{{page.media_type}}">{{page.media_type}}</a>
                        </li>
                        <li class="primary-green">
                            <a href="/browse.html#time_required:{{page.time_required}}">{{page.time_required}}</a>
                        </li>
                        <li class="primary-green">
                            <a href="/browse.html#audience:{{page.audience}}">{{page.audience}}</a>
                        </li>
                    </ul>
                </div>

            <!-- description, doi, license. -->
                <div class="col-md-6">
                    <p>
                    {{page.description}}
                </p>
                <p class="small"><a href="{{page.doi}}">{{page.doi}}</a>
                    <br>content licensed <a href="{{page.license_url}}">{{page.license}}</a></p>
                </div>
            
        </div>            <!-- end of second row. -->

        <!-- new row: main content: object and download buttons. -->
    <div class="row justify-content-right mt-3" id="object">

        <!-- spacer column under keywords. -->
            <div class="col-md-3">
            </div>

        <div class="col-md-9 container-iframe">
        {{ content }}
               <iframe class="responsive-iframe" src="https://widgets.figshare.com/articles/{{page.article_id}}/embed?show_title=1" allowfullscreen frameborder="0" width="100%" height="600px"></iframe>
        </div>
    </div>
    
    </div>            <!-- end of content container. -->
        

    {%- if site.data.theme.browse-buttons == true -%}
        {% include item/browse-buttons.html %}
    {%- endif -%}
</div>