h1 {
    font-weight: 700;  
    }

h3.notheader, h4.notheader {
    font-size: var(--bs-body-font-size);
    }

a {
    color: #1b65a6;
    }

.container.my-4 {
    max-width: 95%;
    }

p {
    text-wrap: pretty;
    }

.justify-content-right{
    justify-content:right!important
    }


/* ICONS */

.bi.icon-sprite.arrow {
    color: #a3d7d7;
    fill: currentColor;
    }

.btn-sm svg.bi.icon-sprite {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    }


/* COLORS */

.keyword-green{
    background-color: #a3d7d7;  /* 2nd lightest */
    color:black;
    }

.primary-green {
    background-color: #cce9e9; /* lightest */
    }

.secondary-green {
    background-color: #1b65a6; /* mid-dark blue-ish */
    color: white;
    }

.active-green{
    background-color: #008f91; /* darkest */
    color:white;  
    }

.former-green{
    background-color: #66bcbd; /* 2nd darkest */
    color: white;
}


/* HOME */

.home-all {
    background: #a3d7d7; 
}

.splash{
    background: #008f91; 
}

#home-header{
    position:relative;
    min-height:200px;
    height:100vh;
    width:auto;
}

.home-logo {
    width: 30%;
    max-width: 200px;
    float:right;

}

#home-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    right: 0;
    bottom: 0;
    background: no-repeat left center / auto 100% url("/assets/img/home-background.jpg") #008f91;
    background-origin: content-box;
    mask: no-repeat left center / auto 100% url("/assets/img/home-background-mask.png");
    mask-origin: content-box;
    background-blend-mode: overlay;
    }

@media (min-width: 576px) {
    .container#home-header {
    max-width: none;
    }
    .container.home-main {
    max-width: none;
    }
}

.svg-lt {
    filter: brightness(0) saturate(100%) invert(100%);
}

#row-home-fancy-title{
    height: calc(100vh - 8.5em);
}

#home-fancy-title{
    white-space: pre;
    font-size: 1.2em;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-indent: 3em;
    color: #fff;
    display:block;
    z-index: 10;
    padding-right: 3em;
}

@media (min-width: 576px) { 
    #home-fancy-title{
        font-size: 1.5em;
    }
    #home-header::before {
        left: -100px;
    }

}

@media (min-width: 768px) {  
    #home-fancy-title{
        font-size: 2em;
    }
    #home-header::before {
        left: 50;
        background: no-repeat left center / auto 125% url("/assets/img/home-background.jpg") #008f91;
        mask: no-repeat left center / auto 125% url("/assets/img/home-background-mask.png");
    }
}

@media (min-width: 992px) {  
    #home-fancy-title{
        font-size: 2.5em;
    }
    #home-header::before {
        left: 0;
        background: no-repeat left center / auto 155% url("/assets/img/home-background.jpg") #008f91;
        mask: no-repeat left center / auto 155% url("/assets/img/home-background-mask.png");
    }
}

.home-main {
    --bs-gutter-x: 0
}

.home-main .row {
    --bs-gutter-x: 0; /* you'd think no-gutters would work, but no */
}

.btn-outline-poemblue {
    background-color: #fff;
    --bs-btn-color: #1b65a6;
    --bs-btn-border-color: #1b65a6;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1b65a6;
    --bs-btn-hover-border-color: #1b65a6;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1b65a6;
    --bs-btn-active-border-color: #1b65a6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #1b65a6;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #1b65a6;
    --bs-gradient: none;
    }

.home-tab {
    width: 100%;
    margin-top:.5rem;
    float:left;
    position: relative;
    }

.home-tab p{
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    }

a.home-tab:hover, a.home-tab:focus{
    color: #cce9e9;/* lightest */
    }




/* NAVIGATION */

.nav-link {
    color: #57bbc8;
    }

.nav-link:focus, .nav-link:hover{
    color:white;
    }

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #cce9e9;
    }

.navbar-toggler {
    width:100%;
    min-height:2.75rem;
    padding:0;
    box-shadow: none;
    border: none;
    color: #57bbc8;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%2357bbc8%22%20class%3D%22bi%20bi-caret-down%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20d%3D%22M3.204%205h9.592L8%2010.481zm-.753.659%204.796%205.48a1%201%200%200%200%201.506%200l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1%201%200%200%200-.753%201.659%22%2F%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    }

.navbar-toggler:hover, .navbar-toggler:focus, .navbar-toggler:active {
    width:100%;
    box-shadow: none;
    border: none;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%2357bbc8%22%20class%3D%22bi%20bi-caret-down-fill%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20d%3D%22M7.247%2011.14%202.451%205.658C1.885%205.013%202.345%204%203.204%204h9.592a1%201%200%200%201%20.753%201.659l-4.796%205.48a1%201%200%200%201-1.506%200z%22%2F%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    }

.lang-toggle{
    background-color: #1b65a6;
    color: white;
    padding:5px 15px;
    }


/* BROWSE LAYOUT */

.search {
    display: none;}
.search-lg {
    display: inline;}

@media (max-width: 991.98px) { 

    .search {
        display: inline;
    }
    .search-lg {
       display: none;
    }

}

#browseFilter {display: none} /* comment out if you want to leave these on for testing */
@media (max-width: 767.98px) {  
#browseFilter {display: inline;}
}

#browseSidebar {display: inline}
@media (max-width: 767.98px) { 
#browseSidebar {display: none} /* comment out if you want to leave these on for testing */
}

.sidebar {
    width: inherit;
    }

#browseSidebar {
    padding-top:1rem;
    border: 0;
    border-radius: .25rem;
    
    ul li {
        color:white;
        }
    }

@media (max-width: 575.98px) { 

    .clearspace-md {
        --bs-gutter-x: 0 !important; 
        padding-left: 0 !important; 
        padding-right: 0 !important; 
        }
    }

.empty-btn:hover, .empty-btn:focus {
    background-color: #cce9e9;
    }

    .browse-img-container{
    width:66%;
    margin:auto;
}

.browse-butt{
    text-align:left;
    margin:.125rem;
}

.browse-butt p{
    margin-bottom:0;
    text-align: center;
}

.row #browseSidebar {
    padding: 0 0 0 0;
    font-size: 0.875rem;
}

#browseSidebar a{
    color:white;
    }

#browseSidebar ul{
    list-style-type: none;
    padding: 0;
    }

#browseSidebar ul li{
    padding-left: 1rem;
    padding-right: 1rem;
    }

#browseSidebar ul ul li{
    padding-left: 2rem;
    }

#browseSidebar ul ul li{
     padding-left: 2rem;
     padding-right: 1rem;
     text-decoration: none;
     display: block; /* make whole strip linkable instead of just text */
     width: 100%;
     height: 100%;
}
#browseSidebar ul ul li:hover{
    background: rgb(255 255 255 / 5%);
    cursor: pointer;
    }
#browseSidebar ul ul li a:hover, #browseSidebar ul ul li.active-filter-val{
    background: rgb(255 255 255 / 20%);
    }

.btn-active-filter {
    --bs-btn-color: #1b65a6;
    --bs-btn-border-color: #1b65a6;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #185b95;
    --bs-btn-hover-border-color: #1b65a6;
    --bs-btn-focus-shadow-rgb: 37, 134, 220;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1b65a6;
    --bs-btn-active-border-color: #1b65a6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #1b65a6;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #1b65a6;
    --bs-gradient: none;
}

.sideNavCategory{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    }

.active-filter-link{
    background: hsla(0, 0%, 0%, .2);
    }


/* BROWSE CARDS */

.card {
    border: 0;
    border-radius: .25rem;
    }

.clippy {
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;  
   overflow: hidden;
    }

.card-text {
    font-size: .875rem;
    }

.card-img-top {
    border-radius: var(--bs-border-radius-sm);
    margin-bottom: 1rem;
    filter: grayscale(1);
    mix-blend-mode: multiply;
    }

.card-img-top:hover, .card-img-top:focus {
    filter: grayscale(1);
    mix-blend-mode: overlay;
    }

.cardthumb .bi {
  color: #008f91;
  fill: currentColor;
    }

button.active-green:hover, button.active-green:focus{
    background-color: transparent;
    color:black;  
    box-shadow:inset 0 0 0 1px #008f91;
    }

button.keyword-green:hover, button.keyword-green:focus{
    background-color: transparent;
    color:black;  
    box-shadow:inset 0 0 0 1px #a3d7d7;
    }

button.former-green:hover, button.former-green:focus{
    background-color: transparent;
    color:black;  
    box-shadow:inset 0 0 0 1px #66bcbd;
    }


/* ITEM & KEYWORD PAGES */

.top-section{
    margin-top:10px;
    }

.keyword-tab {
    width:100%;
    margin-bottom:.5rem;
    float:right;
    position: relative;
    }

.keyword-tab p, .keyword-tab h2{
    padding-left: 4rem;
    margin: 0;
    }

@media (min-width: 768px) { 
.pl-md-4em {
    padding-left: 4em !important;
    }
    }

.active-green h2{
    color: #191919;
    }

@media (max-width: 767.98px) { 
    .keyword-tab p,  .keyword-tab h2{
        text-align: right;
        padding-right: 1rem;
        margin: 0;
        }
    }

a.keyword-tab:hover, a.keyword-tab:focus{
    color: #cce9e9;/* lightest */
    }

ul.theme-tabs  {
    padding-left: 0;
    padding-top:.5rem;
    }

ul.theme-tabs li {
    list-style: none;
    margin-bottom:.5rem;
    text-align: left;
    float: right;
    width:100%;
    padding-left:.5rem;
    }

ul.theme-tabs li a {
     text-decoration: none;
     color: black;
     display: block; /* make whole strip linkable instead of just text */
     width: 100%;
     height: 100%;
    }

ul.theme-tabs li a:hover, ul.theme-tabs li a:focus {
     color: #008f91;
    }

@media (max-width: 767.98px) { 
    ul.theme-tabs li {
        padding-left:1rem;
        }
    }

/* ITEM PAGE EMBED */


.main-img-container img {
    width: 100%;
    }

.responsive-iframe {
    display: block;
    }

.smallshow {
    display: none;
    }

@media (max-width: 767.98px) { 

    .responsive-iframe {
        display: none;
        }

    .smallshow {
        display: inline-block;
        }
}


/* KEYWORDS GLOSSARY */

.dropdown-menu {
    --bs-dropdown-link-active-color: var(--bs-dropdown-link-color);
    --bs-dropdown-link-active-bg: #cce9e9; 
    }

th {
    font-weight: normal;
    }

.keywords-cards:hover, .keywords-cards:focus {
    background-color: #a3d7d7;  /* keyword-green */
    }

.keywords-cards {
    margin-bottom:1rem;
    }

#keywords-to-titles {
    text-transform: capitalize;
    font-size: calc(1.275rem + .3vw)
    }

.minipg {
    padding-top:.125rem;
    font-size: 0.875rem;
    line-height: 0.875rem;
    }

.keywords-thumb {
    max-height: 4rem;
    max-width: 100%;
    }

table.table-gloss, table.table-gloss th, table.table-gloss td {
    border: 0;
    }

.spacer { 
    display:block;
    min-height: 4rem; /* I hate tables - this is to fix padding issues in glossary*/
    }

.text-right {
    text-align: right;
    }

.minilogo {
    height: 0.875rem;
    width:auto;
    }

.margin-fix .row {
    margin-right:0; /* I also hate bootstrap columns - this is to fix padding issues on item pages */
    padding-right: 1rem;
    }

@media (max-width: 767.98px) { 

    .margin-fix .row, .margin-fix .row>* {
        margin-right:0;
        padding-right: 0;
        }

    .sm-margin-fix-left > h2, .sm-margin-fix-left > h3, .sm-margin-fix-left > p {
        padding-left: 1rem;
        }
    }

.btn-float-rt {
    float:right;
    }
